<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Update profile</title>
</head>

<body>
	
	<div class="container">
	
		<h3>Profile information</h3>
		<hr>
		
		<p class="h4 mb-4">Update profile</p>
	
		<form action="#" th:action="@{/student/save}" th:object="${student}" method="POST">
		
			<!-- Add hidden form field to prepopulate form -->
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{username}" />
			<input type="hidden" th:field="*{password}" />	
			<input type="hidden" th:field="*{role}" />	

			<input type="text" th:field="*{fullname}" class="form-control mb-4 col-4" placeholder="Full name">
			<input type="number" th:field="*{yearsStudying}" class="form-control mb-4 col-4" placeholder="Year of studies">
			<input type="text" th:field="*{avgGrade}" class="form-control mb-4 col-4" placeholder="Current average grade"> <!-- type=text allows decimal points -->
			<input type="number" th:field="*{numCoursesLeft}" class="form-control mb-4 col-4" placeholder="Number of remaining courses">			
	
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/student/dashboard}">Back to student dashboard</a>
		
	</div>

</body>

</html>
