<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Subject details</title>
</head>

<body>

<div class="container">

	<h3>Subjects details</h3>
	<hr>	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Objectives</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
				<td th:text="${subject.title}" />	
				<td th:text="${subject.objectives}" />		
				
				<td>
					<a th:href="@{/student/subject(subjectId=${subject.id})}"
					   class="btn btn-info btn-sm">
						Apply
					</a>
					
				</td>
		</tbody>		
	</table>

		<hr>
		<a th:href="@{/student/dashboard}">Back to student subjects</a>	

</div>
	
</body>
</html>
