<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Theses list</title>
</head>

<body>

<div class="container">

	<h3>Theses list</h3>
	<hr>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Subject</th>
				<th>Assignee</th>
				<th>Grade</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="thesis : ${theses}">
			
				<td th:text="${thesis.subject.title}" />
				<td th:text="${thesis.student.fullname}" />
				<td th:text="${thesis.overallGrade} ?: 'N/A'" />
				
				<td>
					<a th:href="@{/professor/setGrades(thesisId=${thesis.id})}" class="btn btn-info btn-sm"> Set grades </a>
				</td>
				
			</tr>
		</tbody>		
	</table>

		<hr>
		<a th:href="@{/professor/dashboard}">Back to professor dashboard</a>	

</div>
	
</body>
</html>
